<!DOCTYPE html>
<html lang="en-US">
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.min.js"></script>
<style>
.forminput {
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 10%;
    width: 70%;
    margin-right: 10%;
}
.tr {
    display: table-row;    
}
.tdtext {
    display: table-cell;
    text-align: left;
    width: 10%;
}
.tdinput {
    display: table-cell;
    text-align: left;
    width: 25%;
}
.tdsubmit {
    display: table-cell;
    width: 17.5%;
}
input {
    width: 85%;
}
select {
    width: 85%;
}
table{
    display: block;
    width: 81%;
    resize: none;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 10%;
    margin-right: 10%;
}

table, th , td {
  border: 1px solid grey;
  border-collapse: collapse;
  padding: 5px;
}
table tr:nth-child(odd) {
  background-color: #f1f1f1;
}
table tr:nth-child(even) {
  background-color: #ffffff;
}
</style>
<body>
<div ng-app="myApp" ng-controller="myCtrl">
<form ng-submit="getReceiptList()">       
                <div class="forminput">
                <div class="tr">         
                    <div class="tdtext"><p>Receipt No  </p></div>
                    <div class="tdinput"><p><input type="text" placeholder="Receipt No" ng-model="receiptNo"></p></div>
                    <div class="tdtext"><p>Account Code  </p></div>
                    <div class="tdinput"><p><input type="text" placeholder="Account Code" ng-model="accountCode"></p></div>
                    
                </div>
            
                <div class="tr">           
                    <div class="tdtext"><p>Payment Method   </p></div>
                    <div class="tdinput"><p><select ng-model="paymentChannel" >
                            <option ng-repeat="x in paymentMethods" value="{{x.value}}">{{x.text}}</option>
                        </select></p></div>
                    <div class="tdtext"><p>Document Type  </p></div>
                    <div class="tdinput"><p><select ng-model="documentType" >
                            <option ng-repeat="x in doctypes" value="{{x.value}}">{{x.text}}</option>
                        </select></p></div>  
                </div>
            
                <div class="tr">  
                    
                </div> 
            
                <div class="tr">   
                    <div class="tdtext"><p>Begin Date  </p></div>
                    <div class="tdinput"><p><input type="date" ng-model="beginDate"></p></div>
                    <div class="tdtext"><p>End Date  </p></div>
                    <div class="tdinput"><p><input type="date" ng-model="endDate"></p></div>
                </div>
                 <div class="tr"> 
                    <div class="tdtext"><p>Transaction Status  </p></div>
                    <div class="tdinput"><p><input type="text" ng-model="transactionStatus"></p></div>
                    <div class="tdtext"><p><input type="button" ng-click="clearField()" value="Clear"></p></div>
                    <div class="tdinput"><p><input type="submit" value="Submit"></p></div>                    
                </div>
                </div>
                <div class="table">
                <table style="overflow: scroll;height: 500px;">
                        <tr>
                           <th>AccountCode</th>
                           <th>AmountIncVat</th>
                           <th>ChannelDesc</th>
                           <th>DocumentNo</th>
                           <th>DocumentRefNo</th>
                           <th>DocumentType</th>
                           <th>ReceiptDate</th>
                           <th>ReceiptDateEng</th>
                           <th>ReceiptDateTh</th>
                           <th>ReceiptStatus</th>
                           <th>Print</th>
                        </tr>
                        
                        <tr ng-repeat = "data in receiptList">
                           <td>{{ data.AccountCode }}</td>
                           <td>{{ data.AmountIncVat }}</td>
                           <td>{{ data.ChannelDesc }}</td>
                           <td>{{ data.DocumentNo }}</td>
                           <td>{{ data.DocumentRefNo }}</td>
                           <td>{{ data.DocumentType }}</td>
                           <td>{{ data.ReceiptDate }}</td>
                           <td>{{ data.ReceiptDateEng }}</td>
                           <td>{{ data.ReceiptDateTh }}</td>
                           <td>{{ data.ReceiptStatus }}</td>
                           <td><button type="button" ng-click="openPdf(data)">Print</button></td>
                        </tr>
                     </table>
                     </div>
    </form>
</div>
</body>
</html>

<script>
    var app = angular.module('myApp', []);
    app.controller('myCtrl',['$scope','$http','$window','$location','$q', function($scope,$http,$window,$location,$q)  {
        // ======= Set Doc type Dropdown ========
        $scope.doctypes = [
            {value : undefined, text : "*"},
            {value : "06", text : "06"},
            {value : "07", text : "07"},
            {value : "10", text : "10"},
            {value : "11", text : "11"},
            {value : "12", text : "12"},
            {value : "13", text : "13"},
            {value : "14", text : "14"}
        ];
        // ======= Set paymentMethods Dropdown ========
        $scope.paymentMethods = [
            {value : undefined, text : "*"},
            {value : "99", text : "Payment"},
            {value : "999", text : "Bill"}
        ];
         // ======= Clear Field ========
        $scope.clearField = function(){
            $scope.accountCode = undefined;
            $scope.receiptNo = undefined;
            $scope.paymentChannel = undefined;
            $scope.documentType = undefined;
            $scope.beginDate = undefined;
            $scope.endDate = undefined;
            $scope.transactionStatus = undefined;
        }
        // ======= PDF ========
        $scope.openPdf = function(receipt){
        var data = {
            'DocumentNo':receipt.DocumentNo,
            'AccountCode':receipt.AccountCode,
            'ReceiptDate':receipt.ReceiptDate
        }
        var req = {
                    method: 'POST',
                    url: 'https://arnon11.tac.co.th:9443/api/GetCustomerReceiptForAdmin',
                    headers:{
                    'MessageID':"INV2018080123593011101123",
                    'BusinessEvent':"GetCustSub",
                    'SourceSystemID':"INV",
                    'SentDttm':"2018-08-01T23:59:30.111",
                    'Content-Type':"application/json",
                    'Authorization':"Basic Y2JzdGVzdDI6dGVzdDEyMzQ="
                }   ,
                    data:data
            }
        
        $http(req).then(function(resp){   
        let pdfWindow = window.open("") 
        pdfWindow.document.write("<iframe width='100%' height='100%' src='data:application/pdf;base64, " + encodeURI(resp.data.ImageContent)+"'></iframe>")
        }).catch(function (response) {
                alert(response.data.ResponseStatus.ResponseMessage);
        });
        
        }

        // ==================== Search =======================
        $scope.getReceiptList = function(){
        var deferred = $q.defer();
        $scope.submitted = true;
        $scope.receiptList=[];
//   if($scope.otpRequestForm.$valid){
        var AccountCode = $scope.accountCode;
            if(AccountCode === undefined){AccountCode = null}else{AccountCode="'"+AccountCode+"'"}
        var ReceiptNo = $scope.receiptNo;
            if(ReceiptNo === undefined){ReceiptNo = null}else{ReceiptNo="'"+ReceiptNo+"'"}
        var PaymentMethod = $scope.paymentChannel;
            if(PaymentMethod === undefined){PaymentMethod = null}else{PaymentMethod="'"+PaymentMethod+"'"}
        var DocType = $scope.documentType;
            if(DocType === undefined){DocType = null}else{DocType="'"+DocType+"'"}
        var BeginDate = formatDate($scope.beginDate);
            if(BeginDate === undefined || BeginDate === "1970-01-01"){BeginDate = null}else{BeginDate="'"+BeginDate+"'"}
        var EndDate = formatDate($scope.endDate);
            if(EndDate === undefined || EndDate === "1970-01-01"){EndDate = null}else{EndDate="'"+EndDate+"'"}
        var TranStatus = $scope.transactionStatus;
            if(TranStatus === undefined){TranStatus = null}else{TranStatus="'"+TranStatus+"'"}
        var req = {
                method: 'POST',
                url: 'https://arnon11.tac.co.th:9443/api/GetReceiptListForAdmin',
                headers:{
                    'MessageID':"INV2018080123593011101123",
                    'BusinessEvent':"GetCustSub",
                    'SourceSystemID':"INV",
                    'SentDttm':"2018-08-01T23:59:30.111",
                    'Content-Type':"application/json",
                    'Authorization':"Basic Y2JzdGVzdDI6dGVzdDEyMzQ="
                },
                data:{'AccountCode': AccountCode ,
                    'ReceiptNo' : ReceiptNo,
                    'PaymentMethod': PaymentMethod,
                    'DocType' : DocType,
                    'BeginDate' : BeginDate,
                    'EndDate' : EndDate,
                    'TranStatus' : TranStatus
                }
                
        }
      $http(req).then(function(resp){
        alert(resp.data.ResponseStatus.ResponseMessage);
        console.log(resp);
       $scope.isError = false;
                $scope.receiptList = resp.data.ReceiptData;

    deferred.resolve('0');
   }).catch(function (response) {
    alert(response.data.ResponseStatus.ResponseMessage);
    console.log(response);
                $scope.errorMsg =response.data.ResponseStatus.ResponseMessage;
       $scope.isError = true;
          deferred.resolve('0');
   });

  
  return deferred.promise;
 }

    }]);
    //========= Date Format==============
    function formatDate(date) {
    var d = new Date(date),
        month = '' + (d.getMonth() + 1),
        day = '' + d.getDate(),
        year = d.getFullYear();

    if (month.length < 2) month = '0' + month;
    if (day.length < 2) day = '0' + day;

    return [year, month, day].join('-');
    }
  </script>

