<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>


</head>
<body>
    KBT
    golf22551011
    Gg22551011

        <div id="GOLF">
    <p>ใส่ <input v-model="datas.ADDS" placeholder="edit me"></p>
    <p>password<input v-model="datas.paaaa"></p>
    <button @click="ADDSA">กด</button>

    <select v-model="EE" >
        <option disabled value="1" v-model=ifsa >เลือก</option>
        <option value="2" v-model=ifsa >1</option>
        <option value="3" v-model=ifsa>2</option>

    </select><br>

    <select v-model="selected">
        <option v-for="option in options" v-bind:value="option.value">
          {{ option.text }}
        </option>
      </select>

    <ul>
            <li v-for="results in datas">{{results.ADDS}}<br>{{results.paaaa}}</li>
    </ul> 


    <script src="5.js">กด</script>
    </div>
</body>
</html>